.h_panel,
.login_banner {
    width: 1130px;
    margin: 0 auto;
}

.h_logo {
    width: 200px;
    height: 98px;
    background: url(https://account.xiaomi.com/static/res/7f6f2f5/account-static/respassport/acc-2014/img/mistore_logo.png) no-repeat;
}

.h_logo a {
    display: block;
    height: 98px;
    text-indent: -9999em;
}

.login_banner_panel {
    /* background:#1e2f40;*/
    width: 100%;
    height: 588px;
    position: absolute;
    left: 0;
    top: 98px;
    background-repeat: no-repeat;
    background-position: top center;
}

.login_banner_panel a {
    display: block;
    height: 588px;
    text-indent: -9999em;
}
.nf-intro {
    padding: 10px;
}
.n-footer {
    height: 80px;
    margin-top: -80px;
    text-align: center;
}
div {
    display: block;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.clearfix:after {
    display: block;
    content: "\20";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.nf-link-area {
    text-align: center;
}
.clearfix {
    *zoom: 1;
}
#title
{
    text-align:center;
}
ul li
{
    list-style-type:none;
    display:inline;
}
.win_banner_mistore .layout {
    width: 410px;
    min-height: 524px;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 14px;
    z-index: 4;
}
.layout {
    background-color: #fff;
    width: 854px;
    margin: 0 auto 20px;
    margin-right: auto;
    margin-bottom: 20px;
    position: relative;
    min-height: 620px;
}
body {
    color: #757575;
}
body {
    font-size: 14px;
    font-family: arial,"Hiragino Sans GB", "Microsoft YaHei","微軟正黑體","儷黑 Pro", sans-serif;
}
.nav_tabs_panel {
    display: none;
}
.win_banner_mistore .nav_tabs_panel {
    display: block;
}
.nav_tabs_panel {
    display: none;
}
.wrap {
    overflow: hidden;
    position: fixed;
}
.flagLeft a:link {
    text-decoration: none;
    color: lightgray;
}

.flagLeft a:visited {
    text-decoration: none;
    color: lightgray;
}

.flagLeft a:hover {
    color: #fff;
    background-color: #000;
}

.flag:hover {
    background-color: #000;
}

.flagLeft img {
    vertical-align: top;
}

.flagImg {
    color: #999;
    font-size: 14px;
    float: left;
    padding: 10px 0px 10px 10px;
    margin-bottom: -11px;
}

.flagLeft .flag {
    color: lightgray;
    font-size: 14px;
    float: left;
    border: 1px solid #333;
    width: 50px;
    padding: 10px 0px 12px 0px;
    margin-bottom: -19px;
    text-align: center;
}

.flagLeft {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
}

.flagRight {
    background-color: #333;
    display: inline-block;
    position: relative;
    left: 1000px;
    top: 0px;
}

.flagRight .flag {
    color: lightgray;
    border: 1px solid #333;
    width: 50px;
    height: auto;
    margin-bottom: -5px;
    text-align: center;
    height: 30px;
}

.QQLogin {
    float: left;
    text-align: center;
    font-size: 1px;
    padding: 10px 0px 0px 0px;
    color: #fff;
}

#flag_Wei .Flag {
    color: lightgray;
    border: 1px solid #333;
    width: 50px;
    height: auto;
    margin-bottom: -5px;
    text-align: center;
}

#flag_Wei {
    display: none;
    position: fixed;
    left: 1104px;
    top: -10px;
    z-index: 2;
}
.Weibo {
    position: absolute;
    text-align: center;
    font-size: 1px;
    color: #fff;
    background-color: rgb(51, 51, 51);
    top: 50px;
    z-index: 3;
}
.h_panel, .login_banner {
    width: 1130px;
    margin: 0 auto;
}

.Weixin {
    position: absolute;
    text-align: center;
    font-size: 1px;
    color: #fff;
    background-color: rgb(51, 51, 51);
    top: 90px;
    z-index: 3;
}
#flag_Wei .Flag a:link {
    text-decoration: none;
    color: gainsboro;
}

#flag_Wei .Flag a:visited {
    text-decoration: none;
    color: gainsboro;
}

#flag_Wei .Flag a:hover {
    color: white;
    display: block;
}

.add {
    padding: 10px 0px 12px 0px;
    font-size: 14px;
    float: left;
}

.Login {
    padding: 10px 0px 12px 0px;
    font-size: 14px;
    float: left;
}

.QQLogin img {
    margin-top: -14px;
    font-size: 14px;
}

.show1 {
    font-size: 1px;
    float: left;
    border: 1px solid #59C3D1;
    width: 70px;
    height: auto;
    margin-bottom: -19px;
    text-align: center;
    padding-top: -10px;
    padding-bottom: 3px;
    background-color: #59C3D1;

}

#show1 {
    z-index: 2;
    position: fixed;
    display: none;
    font-size: 1px;
    color: #a9a9a9;
    top: 42px;
    left: 1155px;
    text-align: center;
}

.flage_show1 {
    position: absolute;
    background: lightskyblue;
    width: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0px;
}

.flage_show2 {
    position: absolute;
    width: 70px;
    background: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 35px;
}

.flage_show3 {
    position: absolute;
    background: powderblue;
    width: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 70px;
}
#show1 a:link {
    color: #a9a9a9;
    text-decoration: none;
}

#show1 a:visited {
    color: #a9a9a9;
    text-decoration: none;
}

#show1 a:hover {
    color: white;
    text-decoration: none;
}

.show2 {
    color: lightgray;
    font-size: 1px;
    float: left;
    border: 1px solid #FFA859;
    width: 70px;
    height: auto;
    margin-bottom: -10px;
    padding-bottom: 3px;
    text-align: center;
    background-color: #FFA859;
}

.show3 {
    color: #fff;
    font-size: 1px;
    float: left;
    border: 1px solid #FE5761;
    width: 70px;
    height: auto;
    margin-bottom: -19px;
    padding-bottom: 3px;
    text-align: center;
    background-color: #FE5761;
}

#show3 {
    display: none;
    position: fixed;
    top: 44px;
    left: 1265px;
    z-index: 2;
}

#show3 img {
    width: 100px;
    height: 100px;
}

.flagRight1 {
    float: left;
}

.flagRight1 a:link {
    text-decoration: none;
    color: lightgray;
}

.flagRight1 a:visited {
    text-decoration: none;
    color: lightgray;
}

.flagRight1 a:hover {
    color: #fff;
    background-color: #000;
}

.show1 a:link {
    text-decoration: none;
    color: lightgray;
}

.show1 a:visited {
    text-decoration: none;
    color: lightgray;
}

.show1 a:hover {
    color: #fff;
}

.show2 a:link {
    text-decoration: none;
    color: lightgray;
}

.show2 a:visited {
    text-decoration: none;
    color: lightgray;
}

.show2 a:hover {
    color: #fff;
}

.show3 a:link {
    text-decoration: none;
    color: lightgray;
}

.show3 a:visited {
    text-decoration: none;
    color: lightgray;
}

.show3 a:hover {
    color: #fff;
}


/*导航栏*/

.flag_sanjiao {
    position: absolute;
    color: lightgray;
    left: 580px;
    padding: 11px;
    font-size: 14px;
}

.flag_sanjiao:hover {
    background: black;
    color: white;
}

.flag_1 {
    position: fixed;
    left: 540px;
    top: 40px;
    background: rgb(51, 51, 51);
    padding: 11px;
    border: 1px solid rgb(51, 51, 51);
    width: 50px;
    z-index: 4;
    font-size: 14px;
    text-align: center;
}

.flag_3 {
    position: fixed;
    left: 540px;
    top: 80px;
    background: rgb(51, 51, 51);
    padding: 11px;
    border: 1px solid rgb(51, 51, 51);
    width: 50px;
    z-index: 4;
    font-size: 14px;
    text-align: center;
}

.flag_2 {
    display: none;
}

.flag_3:hover {
    background: black;
}

.flag_1:hover {
    background: black;
}
.loginbox_l ul li input {
    width: 190px;
    border: 0px;
    background: rgba(0, 0, 0, 0);
}
input{
    line-height: 1.6;
    outline: 0px;
    resize: none;
    border-width: 0px;
    border-bottom:1px ;
}
ul,p{
    font-size: 14px;
}
.mform_r{
    margin-left: -120px;
}
.mform_r li{
    padding-top: 11px;
}
.loginbox_l {
    position: fixed;
    top: 250px;
    left: 510px;
    z-index: 3;
}
.clear label{
    margin-left:-98px ;
}
.right{
    padding-left:125px ;
    color: #000000;
    text-decoration: none;

}
.right:hover{
    color: red;
    text-decoration: underline;
}
.l1{
    position: absolute;
    top: -60px;left: 268px;
    font-size: 20px;
    width: 100%;
    text-decoration: none;
    color: black;
}
.l1:hover{
    text-decoration: underline;
}
.l2{
    position: absolute;
    top: -60px;width: 100px;
    font-size: 20px;
    width: 100%;
    color: white;
    text-decoration: none;

}
.l2:hover{
    color: red;

}

.img1{
    position: absolute;
    top: 139px;left: 264px;
}
.img2{
    position: absolute;
    top: 139px;left: 354px;
}
.img3{
    position: absolute;
    top: 139px;left: 309px;
}
.loginbtn{
    padding: 8px 135px 8px 135px;
    margin-left:-93px ;
    margin-top:4px ;
    border-radius:5px ;
    background: orangered;
    color: white;
    font-size: 18px;

}

footer {
    margin: 10px auto;
    padding: 10px 0px;
    width: 985px;
    border-top: 1px solid gainsboro;
}


.footer1 {
    height: 130px;
}

.footer1_right1,
.footer1_right2 {
    float: right;
    position: relative;
    top: -75px;
    margin-left: 30px;
}

.footer1_left {
    width: 500px;
    line-height: 30px;
    font-size: 12px;
}

.footer1_left_p1 {
    font-size: 14px;
    font-weight: 700;
}

.footer1_right1 p,
.footer1_right2 p {
    font-size: 12px;
    text-align: center;
}

.footer1_left_p1 a {
    color: #f50;
}

.footer1_left_p1 a:hover {
    color: #f50;
    text-decoration: underline;
}
f
.footer1_left_p2 a {
    color: #666;
}
.footer1_left_p2{
    margin-left: 120px;
}
.footer1_left_p2 a:hover {
    text-decoration: underline;
    color: #ff6767;
}
.header {
    background: #C9F;
    width: 100%;
    height: 80px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: left;
    background-color: white;
}
.content {
    position:absolute!important;
    position:relative;
    top:80px!important;
    top:0;
    bottom:32px;
    width:100%;
    overflow:hidden;
    height:auto!important;
    height:100%;
    left: -3px;
}
.main {
    height:100%;
    background:#66CCFF;
    overflow-y:auto;
    text-align:center;
}
.footer {
    background: #9CF;
    width: 100%;
    height: 32px;
    color:black;
    line-height: 32px;
    letter-spacing: 1px;
    text-align: center;
    clear: both;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
}
#list li{

    list-style: none;
}


