.h_panel,
.login_banner {
    width: 1130px;
    margin: 0 auto;
}

.h_logo {
    width: 200px;
    height: 98px;
    background: url(https://account.xiaomi.com/static/res/7f6f2f5/account-static/respassport/acc-2014/img/mistore_logo.png) no-repeat;
}

.h_logo a {
    display: block;
    height: 98px;
    text-indent: -9999em;
}

.login_banner_panel {
    /* background:#1e2f40;*/
    width: 100%;
    height: 588px;
    position: absolute;
    left: 0;
    top: 98px;
    background-repeat: no-repeat;
    background-position: top center;
}

.login_banner_panel a {
    display: block;
    height: 588px;
    text-indent: -9999em;
}
.nf-intro {
    padding: 10px;
}
.n-footer {
    height: 80px;
    margin-top: -80px;
    text-align: center;
}
div {
    display: block;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.clearfix:after {
    display: block;
    content: "\20";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.nf-link-area {
    text-align: center;
}
.clearfix {
    *zoom: 1;
}
#title
{
    text-align:center;
}
ul li
{
    list-style-type:none;
    display:inline;
}
.win_banner_mistore .layout {
    width: 410px;
    min-height: 524px;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 14px;
    z-index: 4;
}
.layout {
    background-color: #fff;
    width: 854px;
    margin-right: auto;
    margin-bottom: 20px;
    position: relative;
    min-height: 620px;
}
body {
    color: #757575;
}
.tableWrap-center{
    margin:auto;
    padding-left: 40px;
    background: #fff;
    height: 524px;
}
body {
    font-size: 14px;
    font-family: arial,"Hiragino Sans GB", "Microsoft YaHei","微軟正黑體","儷黑 Pro", sans-serif;
}
.nav_tabs_panel {
    display: none;
}
.win_banner_mistore .nav_tabs_panel {
    display: block;
}
.nav_tabs_panel {
    display: none;
}
.wrap {
    overflow: hidden;
    position: fixed;
}
.flagLeft a:link {
    text-decoration: none;
    color: lightgray;
}

.flagLeft a:visited {
    text-decoration: none;
    color: lightgray;
}

.flagLeft a:hover {
    color: #fff;
    background-color: #000;
}

.flag:hover {
    background-color: #000;
}

.flagLeft img {
    vertical-align: top;
}

.flagImg {
    color: #999;
    font-size: 14px;
    float: left;
    padding: 10px 0px 10px 10px;
    margin-bottom: -11px;
}

.flagLeft .flag {
    color: lightgray;
    font-size: 14px;
    float: left;
    border: 1px solid #333;
    width: 50px;
    padding: 10px 0px 12px 0px;
    margin-bottom: -19px;
    text-align: center;
}

.flagLeft {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
}

.flagRight {
    background-color: #333;
    display: inline-block;
    position: relative;
    left: 1000px;
    top: 0px;
}

.flagRight .flag {
    color: lightgray;
    border: 1px solid #333;
    width: 50px;
    height: auto;
    margin-bottom: -5px;
    text-align: center;
    height: 30px;
}

.QQLogin {
    float: left;
    text-align: center;
    font-size: 1px;
    padding: 10px 0px 0px 0px;
    color: #fff;
}

#flag_Wei .Flag {
    color: lightgray;
    border: 1px solid #333;
    width: 50px;
    height: auto;
    margin-bottom: -5px;
    text-align: center;
}

#flag_Wei {
    display: none;
    position: fixed;
    left: 1104px;
    top: -10px;
    z-index: 2;
}
.Weibo {
    position: absolute;
    text-align: center;
    font-size: 1px;
    color: #fff;
    background-color: rgb(51, 51, 51);
    top: 50px;
    z-index: 3;
}
.h_panel, .login_banner {
    width: 1130px;
    margin: 0 auto;
}

.Weixin {
    position: absolute;
    text-align: center;
    font-size: 1px;
    color: #fff;
    background-color: rgb(51, 51, 51);
    top: 90px;
    z-index: 3;
}
#flag_Wei .Flag a:link {
    text-decoration: none;
    color: gainsboro;
}

#flag_Wei .Flag a:visited {
    text-decoration: none;
    color: gainsboro;
}

#flag_Wei .Flag a:hover {
    color: white;
    display: block;
}

.add {
    padding: 10px 0px 12px 0px;
    font-size: 14px;
    float: left;
}

.Login {
    padding: 10px 0px 12px 0px;
    font-size: 14px;
    float: left;
}

.QQLogin img {
    margin-top: -14px;
    font-size: 14px;
}
/*脚部*/
.footer {
    background: #fff;
    width: 100%;
    height: 32px;
    color:black;
    line-height: 32px;
    letter-spacing: 1px;
    text-align: center;
    clear: both;
    bottom: 0;
    left: 0;
}
#list li{

    list-style: none;
}
