body {
    margin: 0;
}

.h_panel,
.login_banner {
    width: 1130px;
    margin: 0 auto;
}

.h_logo {
    width: 200px;
    height: 98px;
    background: url(https://account.xiaomi.com/static/res/7f6f2f5/account-static/respassport/acc-2014/img/mistore_logo.png) no-repeat;
}

.h_logo a {
    display: block;
    height: 98px;
    text-indent: -9999em;
}

.login_banner_panel {
    /* background:#1e2f40;*/
    width: 100%;
    height: 588px;
    position: absolute;
    left: 0;
    top: 98px;
    background-repeat: no-repeat;
    background-position: top center;
}

.login_banner_panel a {
    display: block;
    height: 588px;
    text-indent: -9999em;
}
.nf-intro {
    padding: 10px;
}
.n-footer {
    height: 80px;
    margin-top: -80px;
    text-align: center;
}
div {
    display: block;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.nf-link-area {
    text-align: center;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.clearfix:after {
    display: block;
    content: "\20";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}