.home-hero-container{
    position: relative;
    z-index:10;
    height: 460px;
}
.main{
    background-color: #fff;
}
.home-hero{
    position: relative;
    margin-bottom: 26px;
}
#home-carousel img{
    height: 460px;
    width: 100%;
    margin-left: 0;
}
.layui-carousel[lay-arrow=always] .layui-carousel-arrow {
    opacity: 1;
    left: 250px;
}
.layui-carousel:hover .layui-carousel-arrow[lay-type=add], .layui-carousel[lay-arrow=always] .layui-carousel-arrow[lay-type=add] {
    right: 20px;
}
.layui-carousel-ind ul{
    margin-left: 100px;
}
.home-category{
    display: block;
    top:0;
    width: 234px;
    height:420px;
    border:0;
    font-size:14px;
    position: absolute;
    z-index:11;
}
.home-category ul{
    height: 420px;
    color:#fff;
    margin:auto;
    padding:20px 0;
    background: rgba(0,0,0,0.6);
}
.home-category ul a{
    color:#fff;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
}
.home-category ul a:hover{
    background-color: #ff6700;
}
.home-category ul .iconfont{
    font-size:12px;
    float: right;
    margin-right: 20px;
}
.home-hero-sub{
    margin-top:14px;
    height: 170px;
}
.home-hero-sub .span4{
    width:234px;
    
}
.home-hero-sub .span4 ul{
    margin:0;
    padding:3px;
    list-style-type: none;
    font-size:12px;
    text-align: center;
    background: #5f5750;
}