.home-hero-container{
    position: relative;
    z-index:10;
    height: 460px;
}
.main{
    background-color: #fff;
}
.home-hero{
    position: relative;
    margin-bottom: 26px;
}
#home-carousel img{
    height: 460px;
    width: 100%;
    margin-left: 0;
}
.layui-carousel[lay-arrow=always] .layui-carousel-arrow {
    opacity: 1;
    left: 250px;
}
.layui-carousel:hover .layui-carousel-arrow[lay-type=add], .layui-carousel[lay-arrow=always] .layui-carousel-arrow[lay-type=add] {
    right: 20px;
}
.layui-carousel-ind ul{
    margin-left: 100px;
}

.home-hero-sub{
    margin-top:14px;
    height: 170px;
}
.home-hero-sub .span6{
    width:234px;
    float: left;
    min-height: 1px;
}
.home-hero-sub .span6 ul{
    margin:0;
    padding:3px;
    height: 170px;
    list-style-type: none;
    font-size:12px;
    text-align: center;
    background: #5f5750;
}
.home-hero-sub .span6 ul li{
    position: relative;
    float:left;
    width:70px;
    height: 82px;
    padding:0 3px;
}
.home-hero-sub .span6 ul ::before{
    top:-1px;
    left:6px;
    width:64px;
    height: 1px;
    position: absolute;
    content: '';
    background: #665e57;
}
.home-hero-sub .span6 ul ::after{
    top:6px;
    left:0;
    width: 1px;
    height: 70px;
    position: absolute;
    content: '';
    background: #665e57;
}

.home-hero-sub .span6 a{
    display: block;
    padding-top:18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color:#fff;
    transition:color .2s;
}
.home-hero-sub .span6 i{
    display: block;
    height: 24px;
    margin-bottom: 4px;
    font-size:24px;
    line-height: 24px;
}
.home-hero-sub .row3{
    width:978px;
    float: left;
    margin-left: 14px;
    min-height: 1px;
}
.home-hero-sub .row3 img{
    width:316px;
    height: 176px;
    float: left;
    margin-left:10px;
}
.home-category{
    display: block;
    position: absolute;
    top:0px;
    left: 0px;
    z-index:21;
    width: 234px;
    height: 460px;
    font-size:14px;
}
.home-category ul{
    height: 420px;
    color:#fff;
    background: rgba(0,0,0,0.6);
    padding:20px 0;
    margin: 0;
}
.home-category ul a{
    color:#fff;
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
}
.home-category ul li:hover{
    background:#ff6700;
    color:#fff;
}
.home-category ul .category-children li:hover{
    background-color: #fff;
}
.home-category ul .category-children span:hover{
    color:#ff6700;
}
.home-category .category-children{
    position: absolute;
    left:234px;
    width:795px;
    top:0;
    z-index:24;
    height: 458px;
    border:1px solid #e0e0e0;
}
.home-category .category-children ul{
    height: 458px;
    margin:0;
    padding:2px 0;
    float: left;
    background: #fff;
}
.home-category .category-children ul li{
    width:265px;
    height:76px;
}
.home-category .category-children ul li img{
    height: 40px;
    width:40px;
}
.home-category .category-children ul li a{
    display: block;
    padding: 18px 20px;
    ling-height: 40px;
    color:#333;
}
.home-category i{
    float: right;
    margin-right: 20px;
}
.flashPurchase{
    display: block;
    margin-top:20px;
}
.flashPurchase .title{
    position: relative;
    height: 58px;
}
.flashPurchase .title h2{
    margin:0;
    float: left;
    font-size:22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.flashPurchase .title .more{
    float:right;
    margin-top:20px;

}
.flashPurchase .title .more a{
    width:30px;
    float: left;
    height: 16px;
    padding: 3px 5px;
    color:#e0e0e0;
    line-height: 16px;
    border:1px solid #e0e0e0;
}
.more i{
    padding-left: 4px;
    padding-right: 14px;
}
.more i:first-child{
    padding-left:7px;
}
.more i:hover{
    color:#ff6700;
}
.flashPurchase .countDown{
    float:left;
    width:234px;
    height: 340px;
    margin-right: 14px;
    padding: 0;
    background: #f1eded;
    text-align: center;
    border-top: 1px solid #e53935;
}
.countDown img{
    margin:25px 0;
}
.countDown .endTime{
    margin-top:60px;
    color: #e53935;
    font-size:21px;
}
.countDown span{
    color:rgba(0,0,0,0.54);
    font-size:15px;
}
.countDown .flashTime{
    width:168px;
    margin:28px auto 0;
}
.countDown .box{
    width:46px;
    height: 46px;
    background: #605751;
    color:#fff;
    font-size:24px;
    line-height: 46px;
    float:left;
}
.countDown .dosh{
    float:left;
    width: 15px;
    height: 46px;
    line-height: 46px;
    color:#605751;
    font-size:28px;
}
.rainbow{
    height: 340px;
}
.rainbow li{
    background: rgb(250,250,250);
    float: left;
}
.rainbow li img{
    width:160px;
    height: 160px;
}
.collect-card img{
    width:1226px;
    height: 120px;
}
.main-page{
    background: #f5f5f5;
    padding-top: 60px;
}
.main-page .title{
    display: block;
}
.main-page .title h2{
    font-size:22px;
    font-weight: 200;
    line-height: 58px;
    color:#333;
    float: left;
}
.main-page h3{
    font-size:14px;
    font-weight: 400;
    color:#333;
    text-align: center;
}
.main-page .look-all{
    float: right;
    font-size:16px;
    line-height: 58px;
    color:#424242;
    transition: all .4s;
}
.phone .phone-left {
    height: 614px;
    float: left;
}
.phone-left img{
    width:234px;
    height: 614px;
}
.phone .phone-8 ul{
    height: 614px;
}
.phone .phone-8 li{
    float: left;
    width:234px;
    height: 260px;
    background:#fff ;
    margin-left:14px;
    padding:20px 0;
    transition:  all .2s linear;
}
.phone .phone-8 li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0, -5px, 0);
}
.phone .phone-8 li img{
    width:160px;
    height: 160px;
    margin:0px 37px 18px 37px ;
}
.phone .phone-8 .down{
    margin-top:14px;
}
.main-page .desc{
    margin: 0 10px 10px;
    min-height: 20px;
    height: 18px;
    font-size:12px;
    color: #b0b0b0;
}
.main-page .price{
    margin:0 10px 14px;
    text-align: center;
    font-size:18px;
    font-weight: normal;
    color:#ff6700;
}
.collect-card{
    margin-top:28px;
    margin-bottom: 22px;
}
.tab-active{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.jiadian-more{
    float: right;
    padding:16px 0 0;
    font-size:16px;
}
.jiadian-more a{
    margin-left:10px;
    padding-bottom: 5px;
}
.jiadian .box-8-left{
    width:234px;
    height: 614px;
    float: left;
}
.jiadian .box-8-left img{
    
    width:234px;
    height: 300px;
}
.jiadian .box-8-left img:first-child{
    margin-bottom: 14px;
}
.jiadian .box-8 ul{
    height: 614px;
}
.jiadian .box-8 li{
    float: left;
    width:234px;
    height: 260px;
    background:#fff ;
    margin-left:14px;
    padding:20px 0;
    transition:  all .2s linear;
}
.jiadian .box-8 li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0, -5px, 0);
}
.jiadian .box-8 li img{
    width:160px;
    height: 160px;
    margin:0px 37px 18px 37px ;
}
.jiadian .box-8 .down{
    margin-top:14px;
}

.intelligence-more{
    float: right;
    padding:16px 0 0;
    font-size:16px;
}
.intelligence-more a{
    margin-left:10px;
    padding-bottom: 5px;
}
.intelligence .box-8-left{
    width:234px;
    height: 614px;
    float: left;
}
.intelligence .box-8-left img{

    width:234px;
    height: 300px;
}
.intelligence .box-8-left img:first-child{
    margin-bottom: 14px;
}
.intelligence .box-8 ul{
    height: 614px;
}
.intelligence .box-8 li{
    float: left;
    width:234px;
    height: 260px;
    background:#fff ;
    margin-left:14px;
    padding:20px 0;
    transition:  all .2s linear;
}
.intelligence .box-8 li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0, -5px, 0);
}
.intelligence .box-8 li img{
    width:160px;
    height: 160px;
    margin:0px 37px 18px 37px ;
}
.intelligence .box-8 .down{
    margin-top:14px;
}
.collocation-more{
    float: right;
    padding:16px 0 0;
    font-size:16px;
}
.collocation-more a{
    margin-left:10px;
    padding-bottom: 5px;
}
.collocation .box-8-left{
    width:234px;
    height: 614px;
    float: left;
}
.collocation .box-8-left img{

    width:234px;
    height: 300px;
}
.collocation .box-8-left img:first-child{
    margin-bottom: 14px;
}
.collocation .box-8 ul{
    height: 614px;
}
.collocation .box-8 li{
    float: left;
    width:234px;
    height: 260px;
    background:#fff ;
    margin-left:14px;
    padding:20px 0;
    transition:  all .2s linear;
}
.collocation .box-8 li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0, -5px, 0);
}
.collocation .box-8 li img{
    width:160px;
    height: 160px;
    margin:0px 37px 18px 37px ;
}
.collocation .box-8 .down{
    margin-top:14px;
}
.parts-more{
    float: right;
    padding:16px 0 0;
    font-size:16px;
}
.parts-more a{
    margin-left:10px;
    padding-bottom: 5px;
}
.parts .box-8-left{
    width:234px;
    height: 614px;
    float: left;
}
.parts .box-8-left img{

    width:234px;
    height: 300px;
}
.parts .box-8-left img:first-child{
    margin-bottom: 14px;
}
.parts .box-8 ul{
    height: 614px;
}
.parts .box-8 li{
    float: left;
    width:234px;
    height: 260px;
    background:#fff ;
    margin-left:14px;
    padding:20px 0;
    transition:  all .2s linear;
}
.parts .box-8 li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0, -5px, 0);
}
.parts .box-8 li img{
    width:160px;
    height: 160px;
    margin:0px 37px 18px 37px ;
}
.parts .box-8 .down{
    margin-top:14px;
}
.periphery-more{
    float: right;
    padding:16px 0 0;
    font-size:16px;
}
.periphery-more a{
    margin-left:10px;
    padding-bottom: 5px;
}
.periphery .box-8-left{
    width:234px;
    height: 614px;
    float: left;
}
.periphery .box-8-left img{

    width:234px;
    height: 300px;
}
.periphery .box-8-left img:first-child{
    margin-bottom: 14px;
}
.periphery .box-8 ul{
    height: 614px;
}
.periphery .box-8 li{
    float: left;
    width:234px;
    height: 260px;
    background:#fff ;
    margin-left:14px;
    padding:20px 0;
    transition:  all .2s linear;
}
.periphery .box-8 li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0, -5px, 0);
}
.periphery .box-8 li img{
    width:160px;
    height: 160px;
    margin:0px 37px 18px 37px ;
}
.periphery .box-8 .down{
    margin-top:14px;
}
.recommended .title .more {
    float: right;
    margin-top: 20px;
}
.recommended .title .more a {
    width: 30px;
    float: left;
    height: 16px;
    padding: 3px 5px;
    color: #e0e0e0;
    line-height: 16px;
    border: 1px solid #e0e0e0;
}
.recommended .content{
    height: 320px;
}
.recommended .content li{
    margin-bottom: 14px;
    height: 300px;
    background-color: #fff;
    text-align: center;
    width:234px;
    float: left;
    margin-left: 14px;
    transition:  all .2s linear;
}
.recommended .content li:first-child{
    margin-left: 0;
}
.recommended .content li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0, -5px, 0);
}
.recommended .content img{
    height: 140px;
    width:140px;
}
.hot-product .content{
    height: 415px;
}
.hot-product .content li{
    margin-bottom: 14px;
    height: 415px;
    background-color: #fff;
    text-align: center;
    width:296px;
    float: left;
    margin-left: 14px;
    transition:  all .2s linear;
}
.hot-product .content li:first-child{
    margin-left: 0;
}
.hot-product .content li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0, -5px, 0);
}
.hot-product .content img{
    height: 220px;
    width:296px;
}

.mi-content .content{
    height: 415px;
}
.mi-content .content li{
    margin-bottom: 14px;
    height: 415px;
    background-color: #fff;
    text-align: center;
    width:296px;
    float: left;
    margin-left: 14px;
    transition:  all .2s linear;
}
.mi-content .content li:first-child{
    margin-left: 0;
}
.mi-content .content li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0, -5px, 0);
}
.mi-content .content img{
    height: 220px;
    width:296px;
}

.video .content{
    height: 285px;
}
.video .content li{
    margin-bottom: 14px;
    height: 285px;
    background-color: #fff;
    text-align: center;
    width:296px;
    float: left;
    margin-left: 14px;
    transition:  all .2s linear;
}
.video .content li:first-child{
    margin-left: 0;
}
.video .content li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0, -5px, 0);
}
.video .content img{
    height: 180px;
    width:296px;
}