.breadcrumbs {
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background: #f5f5f5;
    color: #616161;
}

.container{
    width: 1226px;
    margin-right:auto;
    margin-left:auto;
}

.breadcrumbs .sep {
    margin: 0 0.5em;
    color: #b0b0b0;
}

.sep{
    margin:0.25em;
    font-family: sans-serif;
}

.uc.sub-box{
    padding: 36px 0;
}

