.breadcrumbs {
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background: #f5f5f5;
    color: #616161;
}
.container {
    width: 1226px;
    margin-right: auto;


}
h4{
    margin-left: 75px;
}
h1{
    margin-left: 50px;
    font-size: 30px;
    font-family: 微软雅黑;
font-weight:normal;
}
.main{
    color: #616161;
    background-color:#f5f5f5;
    font-size: 12px;
}
.row{
    width:1240px;
    height:1200px;
    background-color:#f5f5f5;
}
.row-left{
    float:left;
    margin-left: 50px;
    width: 234px;
    background-color:#fff;
}
.title{

    margin-left: 40px;
}
.box-bd li {
    list-style-type:none;
    line-height:40px;
}

.row-center{
    float: right;
    background-color:#fff;
    width:900px;
    height:250px;
}
.pingjia{
    border-bottom: #dedede;

}
.box-hd .filter-list {
    float: left;
    margin: 0;
    padding: 18px 0;
    list-style-type: none;
    font-size: 14px;
    line-height: 1.25;

}
.filter-list li{
    float:left;
    list-style: none;
    border-bottom:1px solid #9F9F9F;
    width: 200px;
}
.filter-list li a{
    font-size: 16px;
    margin:auto;
    display: block;
    margin:20px 0px;
    padding:0 20px;
    line-height: 20px;
    border-right:1px solid #dedede;

}
.none{
    margin-top: 140px;
    text-align: center;
}
.none h2{
    line-height: 10px;
    color:#dedede;
}
.shoucang{
    margin-top: 70px;
    text-align: center;

}










































.footer{
    background: #fff;
    margin-top: 10px;
}
.footer-service{
    margin-top: 100px;
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.footer-service ul{
    margin:0 ;
    padding:0;
    height: 25px;
}
.footer-service li:first-child{
    border-left:0;
}
.footer-service li{
    float: left;
    width:19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size:16px;
    line-height: 25px;
    text-align: center;
}
.footer-links{
    padding:40px 0;

}
.footer-links dl{
    float:left;
    width:160px;
    height: 112px;
    margin:0;
}
.footer-links dl dt{
    margin:-1px 0 26px;
    font-size:14px;
    line-height: 1.25;
    color:#424242;
}
.footer-links dl dd{
    margin:10px 0 0;
    font-size:12px;
    color:#757575;
}
.footer-contact{
    float:right;
    width:251px;
    height:112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color:#616161
}
.footer-contact p{
    margin:0 0 16px;
    font-size:12px;
}
.footer-contact .phone{
    margin:0 0 5px;
    font-size:22px;
    line-height: 1;
    color:#ff6700
}
.footer-btn{
    background: #fff;
    color:#ff6700;
    width: 118px;
    height: 28px;
    font-size:12px;
    line-height: 28px;
    border: 1px solid #ff6700;
    display: inline-block;
}
.site-info{
    padding:30px 0;
    font-size:12px;
    background: #fafafa;
}
.site-info .logo{
    float:left;
    width:57px;
    height: 57px;
    margin-right: 10px;
}
.site-text{
    float:left;
    color:#b0b0b0;
}
.site-text .sites{
    margin:0;
    line-height: 18px;
}
.site-text .sites a{
    color:#757575;
}
.site-text a{
    color:#b0b0b0;
}
.site-text span{
    margin:0 .25em;
}
.site-links{
    float:right;
}
.site-links img{
    margin-left:0;
    width:auto;
    height: 28px;
}
.slogan{
    clear:both;
    margin:30px auto 0;
    width:267px;
    height:19px;
    background:url("../img/小米手机/slogan2016.png") no-repeat center 0;
}