<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小米笔记本--小米商城</title>
    <link type="text/css" charset="utf-8" rel="stylesheet" href="../css/computer.css"></link>
    <link rel="icon" href="../img/logo-footer.png" type="image/gif" >
    <link href="../css/jyc.css" rel="stylesheet"  type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/layui/css/layui.css">
    <script src="../css/layui/layui.js"></script>

</head>
<body>
<!--头部-->
<div id="header">
        <div class="topbar">
            <div class="wrap">
                <div class="topbar-left">
                    <a >小米商城</a><span >|</span>
                    <a>MIUI</a><span>|</span>
                    <a>loT</a><span>|</span>
                    <a>云服务</a><span>|</span>
                    <a>水滴</a><span>|</span>
                    <a>金融</a><span>|</span>
                    <a>有品</a><span>|</span>
                    <a>Select Region</a>
                </div>
                <div class="topbar-right">
                    <a>登录</a><span>|</span>
                    <a>注册</a><span>|</span>
                    <a>消息通知</a><span>|</span>
                    <a>购物车</a>
                </div>
            </div>
        </div>


</div>


<!--主体-->
    <div id="display">

        <div id="notice"style="width: 100%;">
            <img src="../img/computer/notice.jpg" style="width: 100%;"/>

            <div class="nav-box">
                <table  class="nav-top"><a href="">
                    <tr>
                        <th id="home"><a href="../index.html"><img src="../img/computer/mi.png"/></a>
                        </th>
                        <th id="phone"><a href="../views/mobilephone.html">小米手机</a>
                            <div>
                                <img src="../img/computer//m1.png"/>
                            </div>
                        </th>
                        <th id="hongmi2"><a href="../views/mobilephone.html">红米</a>
                            <div>
                                <img src="../img/computer/m2.png"/>
                            </div>
                        </th>
                        <th id="hongmi3"><a href="../views/TV.html">电视</a>
                            <div>
                                <img src="../img/computer/m3.png"/>
                            </div>
                        </th>
                        <th id="hongmi4"><a href="#">笔记本</a>
                            <div>
                                <img src="../img/computer/m4.png"/>
                            </div>
                        </th>
                        <th id="hongmi5"><a href="../views/Travel_children.html">盒子</a>
                            <div>
                                <img src="../img/computer/m5.png"/>
                            </div>
                        </th>
                        <th id="hongmi6"><a href="../views/Router.html">新品</a>
                            <div>
                                <img src="../img/computer/m6.png"/>
                            </div>
                        </th>
                        <th id="hongmi7"><a href="../views/Healthy_home.html">健康家具</a>
                            <div>
                                <img src="../img/computer/m7.png"/>
                            </div>
                        </th>
                        <th id="hongmi8"><a href="../views/Smart_Appliances.html">智能硬件</a>
                            <div>
                                <img src="../img/computer/m8.png"/>
                            </div>
                        </th>
                        <th id="hongmi9"><a href="#">服务</a>
                        </th>
                        <th id="hongmi0"><a href="#">社区</a>
                        </th>
                        <th>
                            <form>
                                <input style="position: relative;margin-left: 400px;width: 200px;" type="text" name="fname">
                                <input type="submit" value="       "style="height:26px;background-image:url(../img/computer/sousuo.png); border:none"/>
                            </form>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
<div id="ad">
    <ul id="ad_img">
        <li><a href="#"><img src="../img/computer/1.png"  /></a></li>
        <li><a href="#"><img src="../img/computer/2.png"  /></a></li>
        <li><a href="#"><img src="../img/computer/3.png" /></a></li>
        <li><a href="#"><img src="../img/computer/4.png" /></a></li>
        <li><a href="#"><img src="../img/computer/5.png" /></a></li>
        <li><a href="#"><img src="../img/computer/6.png" /></a></li>
        <li><a href="#"><img src="../img/computer/7.png" /></a></li>
    </ul>

    <ul id="ad_num">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
    </ul>

</div>

    <div>
        <div class="box">
            <!-- 存放大图的容器-->
            <div class="all">
                <div class="top-img">
                    <div class="activeimg">
                        <img src="../img/computer/g1.png">
                        <img src="../img/computer/g2.png">
                        <img src="../img/computer/g3.png">
                        <img src="../img/computer/g4.png">
                        <img src="../img/computer/g5.png">
                    </div>
                    <div class="left"><img src="../img/computer/left.png"> </div>
                    <div class="right"><img src="../img/computer/right.png"></div>
                </div>
                <!-- 存放缩略图的容器-->
                <div class="bot-img">
                    <ul>
                        <li class="active"><img src="../img/computer/g1.png"> </li>
                        <li><img src="../img/computer/g2.png"> </li>
                        <li><img src="../img/computer/g3.png"> </li>
                        <li><img src="../img/computer/g4.png"> </li>
                        <li><img src="../img/computer/g5.png"> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div id="first" style="height: 470px;">
    <div><a href="#"><img src="../img/computer/first.jpg"  /></a></div>

</div>
<div class="bodayer">
    <div id="tx1" style="text-align:center;height:80px;line-height:80px;font-size:50px">精选办公本</div>
    <div id="table1">
    <div id="table1_1">
        <a href="#"><img src="../img/computer/table1_1.jpg" /></a>

    </div>
    <div id="table1_2">
        <a href="#"><img src="../img/computer/table1_2.jpg" /></a>

    </div>

</div>
<div id="table2">
    <div id="table2_1">
        <a href="#"><img src="../img/computer/table2_1.jpg" /></a>

    </div>
    <div id="table2_2">
        <a href="#"><img src="../img/computer/table2_2.jpg" /></a>

    </div>

    </div>
    <div id="tx2" style="text-align:center;height:80px;line-height:80px;font-size:50px">强力配置本</div>
    <div id="table3">
    <div id="table3_1">
        <a href="#"><img src="../img/computer/table3_1.jpg" ;/></a>

    </div>
    <div id="table3_2">
        <a href="#"><img src="../img/computer/table3_2.jpg" /></a>

    </div>

    </div>
    <div id="table4">
    <a href="#"><img src="../img/computer/table4_1.png" /></a>
    </div>
    <div id="tx3" style="text-align:center;height:80px;line-height:80px;font-size:50px">12.5寸犹如一本书</div>
    <div id="table5">
        <a href="#"><img src="../img/computer/table5.png" /></a>

    </div>
    <div id="table6">
        <div id="table6_1">
            <a href="#"><img src="../img/computer/table6_1.png" /></a>

        </div>
        <div id="table6_2">
            <a href="#"><img src="../img/computer/table6_2.png" /></a>

        </div>

    </div>
    <div id="tx4" style="text-align:center;height:80px;line-height:80px;font-size:50px">笔记本配件，陪伴您的PC</div>
    <div id="table7">
        <div id="table7_1">
            <a href="#"><img src="../img/computer/table7_1.png" /></a>

        </div>
        <div id="table7_2">
            <a href="#"><img src="../img/computer/table7_2.png" /></a>

        </div>
        <div id="table7_3">
            <a href="#"><img src="../img/computer/table7_3.png" /></a>

        </div>
        <div id="table7_4">
            <a href="#"><img src="../img/computer/table7_4.png" /></a>

        </div>

    </div>
    <div id="table8">
        <div id="table8_1">
            <a href="#"><img src="../img/computer/table8_1.png" /></a>

        </div>
        <div id="table8_2">
            <a href="#"><img src="../img/computer/table8_2.png" /></a>

        </div>
        <div id="table8_3">
            <a href="#"><img src="../img/computer/table8_3.png" /></a>

        </div>
        <div id="table8_4">
            <a href="#"><img src="../img/computer/table8_4.png" /></a>

        </div>

    </div>

</div>
<!--脚部-->
<div class="footer">
    <div class="wrap">
        <div class="footer-service">
            <ul>
                <li><a>预约维修服务</a></li>
                <li><a>7天无理由退货</a></li>
                <li><a>15天免费换货</a></li>
                <li><a>满150元包邮</a></li>
                <li><a>520余家售后网点</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <dl>
                <dt>帮助中心</dt>
                <dd>账户管理</dd>
                <dd>购物指南</dd>
                <dd>订单操作</dd>
            </dl>
            <dl>
                <dt>服务支持</dt>
                <dd>售后政策</dd>
                <dd>自助服务</dd>
                <dd>相关下载</dd>
            </dl>
            <dl>
                <dt>线下门店</dt>
                <dd>小米之家</dd>
                <dd>服务网点</dd>
                <dd>零售网点</dd>
            </dl>
            <dl>
                <dt>关于小米</dt>
                <dd>了解小米</dd>
                <dd>加入小米</dd>
                <dd>联系我们</dd>
            </dl>
            <dl>
                <dt>关注我们</dt>
                <dd>新浪微博</dd>
                <dd>小米部落</dd>
                <dd>官方微信</dd>
            </dl>
            <dl>
                <dt>特色服务</dt>
                <dd>F 码通道</dd>
                <dd>礼物码</dd>
                <dd>防伪查询</dd>
            </dl>
            <div class="footer-contact">
                <p class="phone">400-100-5678</p>
                <p >周一至周日 8:00-18:00<br>（仅收市话费）</p>
                <a class="footer-btn"> 在线客服</a>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="site-info">
    <div class="wrap">
        <div class="logo"><img src="../img/logo-footer.png"/></div>
        <div class="site-text">
            <p class="sites">
                <a>小米商城</a><span>|</span>
                <a>MIUI</a><span>|</span>
                <a>米家</a><span>|</span>
                <a>米聊</a><span>|</span>
                <a>多看</a><span>|</span>
                <a>路由器</a><span>|</span>
                <a>米粉卡</a><span>|</span>
                <a>小米天猫店</a><span>|</span>
                <a>隐私政策</a><span>|</span>
                <a>问题反馈</a><span>|</span>
                <a>Select Region</a><span>|</span>
            </p>
            <p>@<a>mi.com</a>" 京ICP证110507号 "<a>京ICP备10046444号</a><a>京公网安备11010802020134号 </a>
                <a>京网文[2014]0059-0009号</a>
                <br>
                " 违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试"
            </p>
        </div>
        <div class="site-links">
            <a><img src="../img/truste.png"/></a>
            <a><img src="../img/v-logo-2.png"/></a>
            <a><img src="../img/v-logo-1.png"/></a>
            <a><img src="../img/v-logo-3.png"/></a>
            <a><img src="../img/v-logo-4.png" height="28" width="85"/></a>
        </div>
        <div class="clear"></div>
        <div class="slogan"></div>
    </div>

</div>
</body>
<script  src="../js/jquery-1.12.4.js"></script>
<script  src="../js/computer.js"></script>
</html>