<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" charset="utf-8" rel="stylesheet" href="../css/computer.css"></link>
</head>
<body>
<!--头部-->
<div id="header">
    <div id="Top">

    </div>

</div>


<!--主体-->
    <div id="display">

        <div id="notice"style="width: 100%;">
            <img src="../img/computer/notice.jpg" style="width: 100%;"/>

            <div class="nav-box">
                <table  class="nav-top"><a href="">
                    <tr>
                        <th id="home"><a href="#"><img src="../img/computer/mi.png"/></a>
                        </th>
                        <th id="phone"><a href="#">小米手机</a>
                            <div>
                                <img src="../img/computer//m1.png"/>
                            </div>
                        </th>
                        <th id="hongmi2"><a href="#">红米</a>
                            <div>
                                <img src="../img/computer/m2.png"/>
                            </div>
                        </th>
                        <th id="hongmi3"><a href="#">电视</a>
                            <div>
                                <img src="../img/computer/m3.png"/>
                            </div>
                        </th>
                        <th id="hongmi4"><a href="#">笔记本</a>
                            <div>
                                <img src="../img/computer/m4.png"/>
                            </div>
                        </th>
                        <th id="hongmi5"><a href="#">盒子</a>
                            <div>
                                <img src="../img/computer/m5.png"/>
                            </div>
                        </th>
                        <th id="hongmi6"><a href="#">新品</a>
                            <div>
                                <img src="../img/computer/m6.png"/>
                            </div>
                        </th>
                        <th id="hongmi7"><a href="#">路由器</a>
                            <div>
                                <img src="../img/computer/m7.png"/>
                            </div>
                        </th>
                        <th id="hongmi8"><a href="#">智能硬件</a>
                            <div>
                                <img src="../img/computer/m8.png"/>
                            </div>
                        </th>
                        <th id="hongmi9"><a href="#">服务</a>
                        </th>
                        <th id="hongmi0"><a href="#">社区</a>
                        </th>
                        <th >
                            <form>
                                <input style="position: relative;margin-left: 400px;width: 200px;" type="text" name="fname">
                                <input type="submit" value="       "style="height:26px;background-image:url(../img/computer/sousuo.png); border:none"/>
                            </form>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
<div id="ad">
    <ul id="ad_img">
        <li><a href="#"><img src="../img/computer/1.png"  /></a></li>
        <li><a href="#"><img src="../img/computer/2.png"  /></a></li>
        <li><a href="#"><img src="../img/computer/3.png" /></a></li>
        <li><a href="#"><img src="../img/computer/4.png" /></a></li>
        <li><a href="#"><img src="../img/computer/5.png" /></a></li>
        <li><a href="#"><img src="../img/computer/6.png" /></a></li>
        <li><a href="#"><img src="../img/computer/7.png" /></a></li>
    </ul>

    <ul id="ad_num">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
    </ul>

</div>

    <div>
        <div class="box">
            <!-- 存放大图的容器-->
            <div class="all">
                <div class="top-img">
                    <div class="activeimg">
                        <img src="../img/computer/g1.png">
                        <img src="../img/computer/g2.png">
                        <img src="../img/computer/g3.png">
                        <img src="../img/computer/g4.png">
                        <img src="../img/computer/g5.png">
                    </div>
                    <div class="left"><img src="../img/computer/left.png"> </div>
                    <div class="right"><img src="../img/computer/right.png"></div>
                </div>
                <!-- 存放缩略图的容器-->
                <div class="bot-img">
                    <ul>
                        <li class="active"><img src="../img/computer/g1.png"> </li>
                        <li><img src="../img/computer/g2.png"> </li>
                        <li><img src="../img/computer/g3.png"> </li>
                        <li><img src="../img/computer/g4.png"> </li>
                        <li><img src="../img/computer/g5.png"> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div class="bodayer">

    <div id="first" style="height: 470px;">
          <div><a href="#"><img src="../img/computer/first.jpg"  /></a></div>

    </div>
    <div id="tx1" style="text-align:center;height:80px;line-height:80px;font-size:50px">精选办公本</div>
    <div id="table1">
    <div id="table1_1">
        <a href="#"><img src="../img/computer/table1_1.jpg" /></a>

    </div>
    <div id="table1_2">
        <a href="#"><img src="../img/computer/table1_2.jpg" /></a>

    </div>

</div>
<div id="table2">
    <div id="table2_1">
        <a href="#"><img src="../img/computer/table2_1.jpg" /></a>

    </div>
    <div id="table2_2">
        <a href="#"><img src="../img/computer/table2_2.jpg" /></a>

    </div>

    </div>
    <div id="tx2" style="text-align:center;height:80px;line-height:80px;font-size:50px">强力配置本</div>
    <div id="table3">
    <div id="table3_1">
        <a href="#"><img src="../img/computer/table3_1.jpg" ;/></a>

    </div>
    <div id="table3_2">
        <a href="#"><img src="../img/computer/table3_2.jpg" /></a>

    </div>

    </div>
    <div id="table4">
    <a href="#"><img src="../img/computer/table4_1.png" /></a>
    </div>
    <div id="tx3" style="text-align:center;height:80px;line-height:80px;font-size:50px">12.5寸犹如一本书</div>
    <div id="table5">
        <a href="#"><img src="../img/computer/table5.png" /></a>

    </div>
    <div id="table6">
        <div id="table6_1">
            <a href="#"><img src="../img/computer/table6_1.png" /></a>

        </div>
        <div id="table6_2">
            <a href="#"><img src="../img/computer/table6_2.png" /></a>

        </div>

    </div>
    <div id="tx4" style="text-align:center;height:80px;line-height:80px;font-size:50px">笔记本配件，陪伴您的PC</div>
    <div id="table7">
        <div id="table7_1">
            <a href="#"><img src="../img/computer/table7_1.png" /></a>

        </div>
        <div id="table7_2">
            <a href="#"><img src="../img/computer/table7_2.png" /></a>

        </div>
        <div id="table7_3">
            <a href="#"><img src="../img/computer/table7_3.png" /></a>

        </div>
        <div id="table7_4">
            <a href="#"><img src="../img/computer/table7_4.png" /></a>

        </div>

    </div>
    <div id="table8">
        <div id="table8_1">
            <a href="#"><img src="../img/computer/table8_1.png" /></a>

        </div>
        <div id="table8_2">
            <a href="#"><img src="../img/computer/table8_2.png" /></a>

        </div>
        <div id="table8_3">
            <a href="#"><img src="../img/computer/table8_3.png" /></a>

        </div>
        <div id="table8_4">
            <a href="#"><img src="../img/computer/table8_4.png" /></a>

        </div>

    </div>

</div>
<!--脚部-->
<div class="footer"></div>
</body>
<script  src="../js/jquery-1.12.4.js"></script>
<script  src="../js/computer.js"></script>
</html>