<!DOCTYPE html>
<html lang="en">
<!--jyc-->
<head>
    <meta charset="UTF-8">
    <title>耳机 音箱</title>
    <link rel="icon" href="../img/logo-footer.png" type="image/gif" >
    <link href="../css/jyc.css" rel="stylesheet"  type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/layui/css/layui.css">
    <script src="../css/layui/layui.js"></script>


</head>
<body>
<!--头部-->
<div class="header">
    <div class="topbar">
        <div class="wrap">
            <div class="topbar-left">
                <a >小米商城</a><span >|</span>
                <a>MIUI</a><span>|</span>
                <a>loT</a><span>|</span>
                <a>云服务</a><span>|</span>
                <a>水滴</a><span>|</span>
                <a>金融</a><span>|</span>
                <a>有品</a><span>|</span>
                <a>Select Region</a>
            </div>
            <div class="topbar-right">
                <a>登录</a><span>|</span>
                <a>注册</a><span>|</span>
                <a>消息通知</a><span>|</span>
                <a>购物车</a>
            </div>
        </div>
    </div>
    <div class="nav wrap">
        <div class="nav-logo">
            <a href="../index.html"><img src="../img/mi-logo.png"></a>
        </div>
        <div class="header-nav">
            <ul class="nav-list">
                <li class="nav-category">
                    <a>全部商品分类</a>
                </li>
                <li class="nav-item">
                    <a>小米手机</a>
                </li>
                <li class="nav-item">
                    <a>红米</a>
                </li>
                <li class="nav-item">
                    <a>电视</a>
                </li>
                <li class="nav-item">
                    <a>笔记本</a>
                </li>
                <li class="nav-item">
                    <a>盒子</a>
                </li>
                <li class="nav-item">
                    <a>新品</a>
                </li>
                <li class="nav-item">
                    <a>路由器</a>
                </li>
                <li class="nav-item">
                    <a>智能硬件服务</a>
                </li>
                <li class="nav-item">
                    <a>服务</a>
                </li>
                <li class="nav-item">
                    <a>社区</a>
                </li>
            </ul>
        </div>
        <div class="nav-search">
            <form>
                <input class="search-text" type="text">
                <input class="iconfont search-btn " type="submit" value="&#xe7b7;">
            </form>
        </div>

    </div>
</div>

<div class="main">
    <div class="layui-carousel" id="carouse">
<div carousel-item>
    <div><img src="../img/耳机/耳机轮换1.jpg" height="1240" width="5120"/></div>
    <div><img src="../img/耳机/耳机轮换2.jpg" height="1240" width="5120"/></div>
</div>
        </div>
    <div class="wrap channel-title">
         <h4>耳机专区</h4>
    </div>
    <div class="product-1 wrap shadow">
        <a>
            <div>
                <img src="../img/耳机/专区1.jpg" height="868" width="1708"/></div>
            <div class="content">
                <h1>小米圈铁耳机</h1>
                <p class="desc">动圈+动铁 双发声单元，20道工序打造的金属音腔</p>
                <p class="price"><strong>99</strong>元起</p>
                <p class="link">了解产品></p>
            </div>
        </a>
    </div>


            <div class="product-2-left shadow">
                <a >
                    <img src="../img/耳机/专区2jpg.jpg" height="716" width="1212"/>
                    <div class="content">
                        <h1>小米降噪耳机</h1>
                        <p class="desc">双动圈+动铁声学架构</p>
                        <p class="price"><strong>299</strong>元起</p>
                    </div>
                </a>
    </div>

    <div class="product-2-right shadow">
    <a >
        <img src="../img/耳机/专区3.jpg" height="716" width="1212"/>
        <div class="content">
            <h1>小米胶囊耳机</h1>
            <p class="desc">胶囊式外观亲肤硅胶耳套</p>
            <p class="price"><strong>69</strong>元起</p>
        </div>
    </a>
</div>

    <div class="product-3-left shadow">
        <a >
            <img src="../img/耳机/专区4.jpg" height="716" width="1212"/>
            <div class="content">
                <h1>小米铁圈耳机Pro</h1>
                <p class="desc">好故事，让好声音述说</p>
                <p class="price"><strong>149</strong>元起</p>
            </div>
        </a>
    </div>

    <div class="product-3-right shadow">
        <a >
            <img src="../img/耳机/专区5.jpg" height="716" width="1212"/>
            <div class="content">
                <h1>降噪耳机Type-C版</h1>
                <p class="desc">随时随地，安静聆听好声音</p>
                <p class="price"><strong>299</strong>元起</p>
            </div>
        </a>
    </div>













</div>
<div class="clear"></div>