<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小米账号—注册</title>
    <link rel="icon" href="../img/小米手机/logo-footer.png" type="image/gif">
    <link rel="stylesheet" href="../css/register.css">

</head>
<body>
<div class="entirety">
    <div class="milogo">
        <a href="/mi/index.html">
        <img src="../img/小米手机/logo-footer.png"/>
        </a>
    </div>
    <!--<div class="tit">

</div>-->
    <div class="main1 main2">
        <h3 class="tit-mi">注册小米账号</h3>
        <div class="z-main">
            <h5 class="c-country">国家/地区</h5>
            <div class="r-box">
                <div class="r-box-m">
                <p class="r-box-m-w">中国</p>
                    <i class="select"></i>
                </div>
            </div>
            <div class="explain">成功注册账号后，国家/地区将不能进行修改</div>
            <h4 class="phone-e">手机号码</h4>
            <div class="phone-m">
                <div class="phone-b1 phone-b2 phone-b3">
                 <p class="phone-h">+86</p>
                    <i class="select2"></i>
                </div>
            </div>
            <div class="input-b">
                <input type="hidden" class="input-bm" name="region" value="CN">
                <label class="label-b" for>
                    <input type="tel"  class="word" name="phone"  data-type="PH" placeholder="请输入手机号码">
                </label>
            </div>
            <div class="submit">
                <input class="submit-1" method="get" onclick="location.href='../views/Account.html'" data-to="phone-step2" type="submit" value="立即注册">
            </div>
        </div>
        <div class="footer-1">
             <label class="footer-1-m">
                 <i class="select3"></i>
                 "注册帐号即表示您同意并愿意遵守小米"
                 <a class="agreement-t">用户协议</a>
                 "和"
                 <a class="agreement-y">隐私政策</a>
             </label>
        </div>
        <div class="footer-m">
            <div class="s-language">简体&nbsp&nbsp&nbsp| 繁体&nbsp&nbsp&nbsp| English&nbsp&nbsp&nbsp| 常见问题</div>
        </div>
        <p class="nf-intro">
            <span>小米公司版权所有-京ICP备10046444-
                <a class="beianlink beian-record-link" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020134">
                    <span>
                       <img src="../img/出行儿童/ghs.png" height="20" width="20"/>
                    </span>
                    京公网安备11010802020134号
                </a>
                -京ICP证110507号
            </span>
        </p>

</div>
</div>
</body>
</html>