<!DOCTYPE html>
<html lang="en">
<!--jyc-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/jyc.css" rel="stylesheet"  type="text/css">
</head>
<body>
<!--头部-->
<div class="header">
    <div class="topbar">
        <div class="wrap">
            <div class="topbar-left">
                <a >小米商城</a><span >|</span>
                <a>MIUI</a><span>|</span>
                <a>loT</a><span>|</span>
                <a>云服务</a><span>|</span>
                <a>水滴</a><span>|</span>
                <a>金融</a><span>|</span>
                <a>有品</a><span>|</span>
                <a>Select Region</a>
            </div>
            <div class="topbar-right">
                <a>登录</a><span>|</span>
                <a>注册</a><span>|</span>
                <a>消息通知</a><span>|</span>
                <a>购物车</a>
            </div>
        </div>
    </div>
    <div class="nav wrap">
        <div class="nav-logo">
            <a href="../index.html"><img src="../img/mi-logo.png"></a>
        </div>
        <div class="header-nav">
        <ul class="nav-list">
            <li class="nav-category">
                <a>全部商品分类</a>
            </li>
            <li class="nav-item">
                <a>小米手机</a>
            </li>
            <li class="nav-item">
                <a>红米</a>
            </li>
            <li class="nav-item">
                <a>电视</a>
            </li>
            <li class="nav-item">
                <a>笔记本</a>
            </li>
            <li class="nav-item">
                <a>盒子</a>
            </li>
            <li class="nav-item">
                <a>新品</a>
            </li>
            <li class="nav-item">
                <a>路由器</a>
            </li>
            <li class="nav-item">
            <a>智能硬件服务</a>
            </li>
            <li class="nav-item">
                <a>服务</a>
            </li>
            <li class="nav-item">
                <a>社区</a>
            </li>
        </ul>
        </div>
        <div class="nav-search">
            <form>
                <input type="text">
                <input type="submit">
            </form>
        </div>
    </div>
</div>
<!--主体-->
<div class="main">
    <div class="carousel">
        <img src="../img/carousel1.jpg"/>
        <img src="../img/carousel2.jpg"/>
    </div>
</div>
<!--脚部-->
<div class="footer"></div>
</body>
</html>