<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>小米电视/盒子 - 小米商城</title>
    <link rel="icon" href="../img/logo-footer.png" type="image/gif" >
    <link href="../css/pt.css" rel="stylesheet"  type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/layui/css/layui.css">
    <script src="../css/layui/layui.js"></script>
</head>
<body>
<!--头部-->
<div class="header">
    <div class="topbar">
        <div class="wrap">
            <div class="topbar-left">
                <a >小米商城</a><span >|</span>
                <a>MIUI</a><span>|</span>
                <a>loT</a><span>|</span>
                <a>云服务</a><span>|</span>
                <a>水滴</a><span>|</span>
                <a>金融</a><span>|</span>
                <a>有品</a><span>|</span>
                <a>Select Region</a>
            </div>
            <div class="topbar-right">
                <a>登录</a><span>|</span>
                <a>注册</a><span>|</span>
                <a>消息通知</a><span>|</span>
                <a>购物车</a>
            </div>
        </div>
    </div>
    <div class="nav wrap">
        <div class="nav-logo">
            <a href="../index.html"><img src="../img/mi-logo.png" height="49" width="49"/></a>
        </div>
        <div class="header-nav">
            <ul class="nav-list">
                <li class="nav-category">
                    <a>全部商品分类</a>
                </li>
                <li class="nav-item">
                    <a>小米手机</a>
                </li>
                <li class="nav-item">
                    <a>红米</a>
                </li>
                <li class="nav-item">
                    <a>电视</a>
                </li>
                <li class="nav-item">
                    <a>笔记本</a>
                </li>
                <li class="nav-item">
                    <a>盒子</a>
                </li>
                <li class="nav-item">
                    <a>新品</a>
                </li>
                <li class="nav-item">
                    <a>路由器</a>
                </li>
                <li class="nav-item">
                    <a>智能硬件服务</a>
                </li>
                <li class="nav-item">
                    <a>服务</a>
                </li>
                <li class="nav-item">
                    <a>社区</a>
                </li>
            </ul>
        </div>
        <div class="nav-search">
            <form>
                <input class="search-text" type="text">
                <input class="iconfont search-btn " type="submit" value="&#xe7b7;">
            </form>
        </div>
    </div>
</div>
<div class="clear"></div>
<!--主体-->
<div class="main">
    <div class="photoa">
    <img src="../img/小米电视盒子图集/小米电视4A 32“.jpg"/>
    </div>
</div>

<div class="titlep1">
  <p2>热销爆款</p2>
</div>