body
{
	background-image: url("../img/Router/01.jpg");
	background-color: #000000;
	background-size:1600px 800px;
}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
	margin:0;
	padding:0;
	list-style:none;
}
img{
	vertical-align:middle;
}
a{
	color:#666;
	text-decoration:none;
}
a:hover{
	color:#0aa1ed;
}
.clear:after{
	content:"";
	display:block;
	clear:both;
}
.lf{float:left;}
.rt{float:right;}
div.main{
	width:1000px;
	margin:0 auto;
}

