/*.jq22-container{*/
	/*visibility:visibile;*/
/*}*/
.dl{
	width:1000px;
	height:768px;
	margin:0 auto;
}
.dl .img{
	float:left;
	margin-top:200px;
	margin-left:60px;
}
.dl .text{
	float:right;
	margin-top:200px;
	margin-right:150px;
}
.dl .text1{
	font-size:30px;
	font-weight:bold;
}
.dl .text2{
	font-size:15px;
}
.dl .imgs{
	list-style:none;
	display:flex;
	justify-content:space-between;
	padding-left:0px;
}
/*.dl .btn{
	width:130px;
	height:30px;
	background:#3483CF;
	border:none;
	border-radius:5px;
	color:#fff;
	margin-right:43px;
	float:right;
	font-size:18px;
	cursor:pointer;
}*/
